<form id="ComponentTestObjectData" action="post">
    <div class="form-group">
        <label for="exampleFormControlSelect1">Post Type</label>
        <select class="form-control" id="selectAPIAction">
            <option>Select API Action . . . </option>
            <option>API POST</option>
            <option>API PUT</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlInput1">URI/URL</label>
        <input type="url" class="form-control" id="APIendpointURL" placeholder="www.yourendpoint.com">
    </div>
    <div id="thePlaceToPutTheThing"></div>
    <table>
        <tr>
            <td><input type="text" name="hmm" form="my_form" /></td>
        </tr>
    </table>
</form>

<div id="mainGUI">
    <div class="form-group">
        <form>
            <table>
                <tr><th>Property Name</th><th>Data Type</th><th>Required</th><th>Default Value</th><th>Yeet</th></tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <label>Hmmm</label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <select class="form-control" id="keyPlusDataType">
                                <option>Select Data Type</option>
                                <option>Boolean</option>
                                <option>DateTime</option>
                                <option>Decimel</option>
                                <option>Int</option>
                                <option>String</option>
                                <option>Complex</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="checkbox" id="keyPlusRequired">
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input class="form-control" id="keyPlusDefaultValue" value="jsonValue" width="40"> <!--These are actually distince. If my key was stringRequired, then it'd be keyRequiredDefaultValue, and the actual value of the box would be json.value-->
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-xs">Preferences</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<tr>
    <td>
        <div class="form-group"><input class="form-control"></div>
    </td>
    <td>
        <div class="form-group">
            <select class="form-control">
                <option>Select . . .</option>
                <option>BadRequest</option>
                <option>Unauthorized</option>
                <option>NotFound</option>
                <option>OK</option>
                <option>InternalServerError</option>
            </select>
        </div>
    </td>
    <td><div class="form-group"><input type="checkbox" name="idRandom" /></div></td>
    <td><div class="form-group"><input type="checkbox" name="idNull" /></div></td>
    <td><div class="form-group"><input type="checkbox" name="idBlank" /></div></td>
    <td><div class="form-group"><input class="form-control" /></div></td>
    <td><div class="form-group"><input class="form-control" /></div></td>
    <td><div class="form-group"><button class="btn btn-warning" onclick=deleteRow(this)></button></div></td>
</tr>

<!-- Button trigger modal -->
@*<button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalPreview">
        Launch demo modal
    </button>*@
<!-- Modal -->
@*<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalPreviewLabel">Attribute Preferences</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="ParameterMenu">
                        <div class="panel-body">
                            <table id="testTable" class="table table-striped">
                                <tr><th>Expected Message</th><th>HTTP Response</th><th>Random</th><th>Null</th><th>Blank</th><th>Value/Char Length</th><th>Test Name</th><th><button class="btn btn-success" onclick="addParam('testTable')">+</button></th></tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                </div>
            </div>
        </div>
    </div>*@
<!-- Modal -->