@{
    ViewData["Title"] = "Automated Component Test Writer";


}

<!DOCTYPE html>

<div class="form-group">
    <label for="json object">Input JSON object:</label>
    <textarea id="JSONTextArea" class="form-control" rows="10" cols="10"></textarea>
    <table>
        <tr>
            <td>
                <label class="btn btn-outline-primary" for="fileToLoad">
                    <input type="file" id="fileToLoad" accept=".JSON" style="display:none">Browse
                </label>
            </td>
            <td><button id="loadJSON" class="btn btn-primary" onclick="loadFileAsText()">Load Selected File</button></td>
            <td><button class="btn btn-lg" onclick="JSONtoHTMLFields()">Submit</button></td>
        </tr>
    </table>
</div>

<div id="jsonErrField"></div> <!--This is where I am putting any error messages regarding JSON parsing after it is submitted to the application.-->

<div id="mainGUI">
</div>


<!--Load in the js last.-->
<script src="~/Scripts/main.js"></script>



