@{
    ViewData["Title"] = "Automated Component Test Writer";


}

<!DOCTYPE html>

<div class="form-group">
    <label for="json object">Input JSON object:</label>
    <textarea id="JSONTextArea" class="form-control" rows="10" cols="10"></textarea>
    <table>
        <tr>
            <td>
                <label class="btn btn-outline-primary" for="fileToLoad">
                    <input type="file" id="fileToLoad" accept=".JSON" style="display:none">Browse
                </label>
            </td>
            <td><button id="loadJSON" class="btn btn-primary" onclick="loadFileAsText()">Load Selected File</button></td>
            <td><button class="btn btn-lg" onclick="JSONtoHTMLFields()">Submit</button></td>
        </tr>
    </table>
</div>

<div id="jsonErrField"></div> <!--This is where I am putting any error messages regarding JSON parsing after it is submitted to the application.-->

<div id="mainGUI">
</div>


<!--Load in the js last.-->
<script src="~/Scripts/main.js"></script>



<!-- Button trigger modal -->
@*<button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalPreview">
    Launch demo modal
</button>*@
<!-- Modal -->
@*<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalPreviewLabel">Attribute Preferences</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="ParameterMenu">
                    <div class="panel-body">
                        <table id="testTable" class="table table-striped">
                            <tr><th>Expected Message</th><th>HTTP Response</th><th>Random</th><th>Null</th><th>Blank</th><th>Value/Char Length</th><th>Test Name</th><th><button class="btn btn-success" onclick="addParam('testTable')">+</button></th></tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>*@
<!-- Modal -->