@{
    ViewData["Title"] = "Automated Component Test Writer";

}
@using System.Linq
@using AutomatedComponentTestWriter.Models
@model AutomatedComponentTestWriter.Models.ComponentTestDTO
<!DOCTYPE html>
<div class="form-group">
    <label for="json object">Input JSON object:</label>
    <textarea id="JSONTextArea" class="form-control" rows="10" cols="10"></textarea>
    <table>
        <tr>
            <td>
                <label id="fileLabel" class="btn btn-outline-primary" for="fileToLoad">
                    <input type="file" id="fileToLoad" accept=".JSON" style="display:none">Browse
                </label>
            </td>
            <td><button id="loadJSON" class="btn btn-primary" onclick="loadFileAsText()">Load Selected File</button></td>
            <td><button class="btn btn-lg" onclick="JSONtoHTML()">Submit</button></td>
        </tr>
    </table>
</div>
<div id="jsonErrField"></div> <!--This is where I am putting any error messages regarding JSON parsing after it is submitted to the application.-->
@using (Html.BeginForm("ReadDTO", "Home"))
{
<div id="mainGUI" style="display:none">
    <div class="panel panel-default">
        <div class="panel-heading"><strong>Object Details</strong></div>
        <label>API Action:</label>@Html.DropDownListFor(model => model.APIAction,
                                                    new SelectList(Enum.GetValues(typeof(APIAction))),
                                                    "Select API Action . . . ",
                                                    new { @class = "form-control"})
        <label>URI/URL:</label>@Html.TextBoxFor(model => model.APIEndpointURL, new { @class = "form-control"}) 
        <div class="panel-body">
            <div class="scrollbar">
                <table class="table table-bordered">
                    <tr>
                        <th>Property Name</th>
                        <th>Data Type</th>
                        <th>Required</th>
                        <th>Default Value</th>
                        <th></th>
                    </tr>
                    <tbody id="AttributeTable">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="panel-footer"><button type="submit" class="btn btn-success">&#9658; Run Now</button></div>
    </div>
</div>
}

<div style="display:none"><input id="holdPropertyIndex" style="visibility:hidden" value=""/></div>

<button style="display:none" id="downloadComponentTest">Download</button>

<!--Load in the js last.-->
<script src="~/Scripts/main.js">

</script>
<script>
    
    function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
    }
    function addParam(tagID) {
        var string = "" + tagID;
        var splitTag = string.split("_");
        var currentProperty = `${splitTag[0]}_${splitTag[1]}_`;
        var numrowsintable = $(`#${tagID}`).children("tr").length;
        var propertyIndex = splitTag[1];
        var index = $(`#${tagID}`).children("tr").length;
        console.log(`Index for Property ${propertyIndex}: ${index}`);
        
        $(document).ready(function () {
            postCurrentPropertyIndex(splitTag[1]);
            @{ 
                if(ViewBag.CurrentIndex != null)
                {
                    var currentPropertyIndex = ViewBag.CurrentIndex;
                    Model.Properties[currentPropertyIndex].Parameters.Add(new Parameter());
                }
            }
            var parameter = `<tr><td style="display:none"><input type="hidden" name="properties[${propertyIndex}].Parameters.Index" value="${index}"/></td>
                            <td><input class="form-control" type="text" id="Property_${propertyIndex}_Param_${index}_Expected_Message" name="Properties[${propertyIndex}].Parameters[${index}].ExpectedMessage" /></td>
                            <td><select class="form-control" id="Property_${propertyIndex}_Param_${index}_HTTPResponse" name="Properties[${propertyIndex}].Parameters[${index}].HTTPResponse">
                                <option>Select . . . </option>
                                <option>BadRequest</option>
                                <option>Unauthorized</option>
                                <option>NotFound</option>
                                <option>OK</option>
                                <option>InternalServerError</option>
                            </select></td>
                            <td><input type="checkbox" id="Properties_${propertyIndex}_Param_${index}_RandomParam" name="Properties[${ propertyIndex }].Parameters[${ index }].RandomParam" value="1" /></td>
                            <td><input type="checkbox" id="Properties_${propertyIndex}_Param_${index}_NullParam" name="Properties[${propertyIndex}].Parameters[${index }].NullParam" value="1" /></td>
                            <td><input type="checkbox" id="Properties_${propertyIndex}_Param_${index}_BlankParam" name="Properties[${propertyIndex}].Parameters[${index}].BlankParam" value="1" /></td>
                            <td><input class="form-control" type="text" id="Property_${propertyIndex}_Param_${index}_ValueLength" name="Properties[${propertyIndex}].Parameters[${index}].ValueLength" /></td>
                            <td><input class="form-control" type="text" id="Property_${propertyIndex}_Param_${index}_TestName" name="Properties[${propertyIndex}].Parameters[${index}].TestName" /></td>
                            <td> <button type="button" class="btn btn-danger" onclick="deleteRow(this)">x</button></td>
                            </tr>`;
            $(`#${tagID}`).append(parameter);
        });
        var numrowsintable = $(`#${tagID}`).children("tr").length;
        console.log(numrowsintable);
    }

    function postCurrentPropertyIndex(index) {
        var theData = `currentIndex=${index}`;
        $.ajax({
            type: "post",
            //contentType: "application/json; charset=utf-8",
            url: "/Home/currentPropertyIndex",
            data: theData,
            success: function (result) {
                //do something
                //alert("SUCCESS");
                console.log(result);
            },
            error: function (xmlhttprequest, textstatus, errorthrown) {
                alert(" conection to the server failed ");
                console.log("error: " + errorthrown);
            }
        });
    }

    function JSONtoHTML() {
        console.time('jsonLoadTime');
        var theJSON = document.getElementById("JSONTextArea").value;
        var printError = function (error, explicit) {
            var err = `[${explicit ? 'EXPLICIT' : 'INEXPLICIT'}] ${error.name}: ${error.message}`;
            $(document).ready(function () {
                $("#jsonErrField").html(`<div class="alert alert-danger">"${err}"</div>`);
            });
        }
            var html = "";
        try {
            var json = JSON.parse(theJSON);
            console.table(json);
            $(document).ready(function () {

                //var index =
                var index = 0;
                @{
                    var index = 0;
                }
                for (var key in json) {

                    @* For every key:value in my json, add a new property to my list *@
                    @{
                        Model.Properties.Add(new Property());
                        index = Model.Properties.Count() - 1;
                    }

                    console.log(`${index} for ${key}`);
                    var indexCell = `<td style="display:none"><input name="Properties.Index" type="hidden" value="${index}" /></td>`;
                    var propertyName = `<td><label><input type="hidden" id="Properties_${index}_PropertyName" name="Properties[${index}].PropertyName" value="${key}" />${key}</label></td>`;
                    var dataType = `<td><select class="form-control" id="Properties_${index}_DataType" name="Properties[${index}].DataType">
                                        <option>Select Type . . .</option>
                                        <option>string</option>
                                        <option>bool</option>
                                        <option>int</option>
                                        <option>decimel</option>
                                        <option>DateTime</option>
                                        <option>Complex</option>
                                    </select></td>`;
                    var required = `<td><input type="checkbox" id="Properties_${index}_Required" name="Properties[${index}].Required" value="1" /></td>`;
                    var defaultValue = `<td><input class="form-control" type="text" id="Properties_${index}_DefaultValue" name="Properties[${index}].DefaultValue" value="${json[key]}" /></td>`;
                    var paramMenu = `<td><button id="modalActivate" type="button" class="btn btn-danger" data-toggle="modal" data-target="#Properties_${index}_Preferences">🖉 Edit Parameters</button>
                                <div class="modal fade right" id="Properties_${index}_Preferences" tabindex="-1" role="dialog" aria-labelledby="Properties_${index}_PreferencesPreviewLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="Properties_${index}_ModalTitle">Preferences for Property: ${key} </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div id="Properties_${index}_ParameterMenu">
                                                    <div class="panel-body">
                                                        <table  class="table table-striped">
                                                            <tr><th>Expected Message</th><th>HTTP Response</th><th>Random</th><th>Null</th><th>Blank</th><th>Value/Char Length</th><th>Test Name</th><th><button type="button" class="btn btn-success" onclick="addParam('Properties_${index}_ParameterTable')">+ Add Parameter</button></th></tr>
                                                            <tbody id="Properties_${index}_ParameterTable">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Done</button>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>`;
                    html += `<tr>${indexCell}${propertyName}${dataType}${required}${defaultValue}${paramMenu}</tr>`;
                    index = index + 1;
                }
                //var html = `<tr>${propertyName}${dataType}${required}${defaultValue}${paramMenu}</tr>`
                $("#AttributeTable").html(html);
                $("#jsonErrField").html("");
                console.log("Rows: " + $("#AttributeTable").children("tr").length);
                $("#mainGUI").fadeIn();
            });
        } catch (e) {
            if (e instanceof SyntaxError) {
                printError(e, true);
            }
            else {
                printError(e, false);
            }
        }
        console.timeEnd('jsonLoadTime');
    }
</script>
